<div>
  <aside>
    <div>
      <div>
        <h3><%= @user.name %></h3>
      </div>
      <div>
        <img src="<%= gravatar_url(@user, { size: 500 }) %>" alt="">
      </div>
    </div>
  </aside>
  <div>
    <ul>
      <li><a href="<%= user_path(@user) %>">Tasks</a></li>
      <li><a href="#">Followings</a></li>
      <li><a href="#">Followers</a></li>
    </ul>
    <%= render 'tasks/tasks', tasks:@tasks %>
  </div>
</div>